body {
    margin: 0;
    padding: 0;
    font-size: 32px;
    text-align: center;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
    height: 50px;
}

h1 {
    font-size: 30px;
}

p {
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #fff;
}

ul {
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

li {
    list-style-type: none;
    cursor: pointer;
    border-radius: 50%;
}

li img:hover {
    opacity: 0.5;
}

footer {
    text-align: center;
}

/* タイマー */
#time::before {
    content: "経過時間：";
}

#time::after {
    content: "秒";
}

.jankenGame {
    display: flex;
    justify-content: space-between;
    width: 1400px;
    margin: 0 auto;

}

#janken {
    width: 400px;
    margin: 0 auto;

}

#result-list {
    width: 300px;
    text-align-last: left;
}

.result-wrapper {
    margin: 0 auto;
    width: 300px;
}

#judgment::before {
    content: "勝敗：";
}

#score::before {
    content: "今回：";
}

#score::after {
    content: "点";
}

.inner-result::before {
    content: "合計：";
}

.inner-result::after {
    content: "点";
}

.outer-result {
    display: none;
}

.outer-result::before {
    content: "合計";
}

.outer-result::after {
    content: "点でした。次回も頑張ろう";
}

.often::before {
    content: "試合回数：";
}

.average::before {
    content: "平均点：";
}


#chart_div {
    width: 700px;
    height: 500px;
}