body {
    margin: 0;
    padding: 0;
    font-size: 32px;
    text-align: center;
}

header {
    background-color: #fff;
    text-align: center;
    height: 50px;
}

h1 {
    font-size: 30px;
    background: linear-gradient(transparent 50%, rgba(255, 220, 123) 50%);
    display: inline;

    /* 背景の繰り返しを停止 */
    background-repeat: no-repeat;

    /* マーカーの横方向を0にして縮める */
    background-size: 0% 100%;

    /* マーカーが引かれる速度を指定 */
    transition: background-size 1.5s;
}

h1.on {
    /* 横方向を100%にして、マーカーを引く */
    background-size: 100% 100%;
}

p {
    font-size: 20px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

a:hover {
    color: #32b9e2;
}

ul {
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

li {
    list-style-type: none;
    cursor: pointer;
    border-radius: 50%;
}

li img:hover {
    opacity: 0.5;
}

footer {
    text-align: center;
}

/* タイマー */
#time::before {
    content: "経過時間：";
}

#time::after {
    content: "秒";
}

.jankenGame {
    display: flex;
    justify-content: space-between;
    width: 1400px;
    margin: 0 auto;

}

#janken {
    width: 400px;
    margin: 0 auto;

}

#result-list {
    width: 250px;
    text-align-last: left;
}

#judgment::before {
    content: "勝敗：";
}

#score::before {
    content: "今回：";
}

#score::after {
    content: "点";
}

.inner-result::before {
    content: "合計：";
}

.inner-result::after {
    content: "点";
}

.often::before {
    content: "試合回数：";
}

.average::before {
    content: "平均点：";
}

.win::before {
    content: "勝ち数：";
}

.lose::before {
    content: "負け数：";
}

.even::before {
    content: "あいこ数：";
}

.guWin::before {
    content: "グーの勝ち数：";
}

.choWin::before {
    content: "チョキの勝ち数：";
}

.paWin::before {
    content: "パーの勝ち数：";
}

.winRate::before {
    content: "勝率：";
}

.guWinRate::before {
    content: "グーの勝率：";
}

.choWinRate::before {
    content: "チョキの勝率：";
}

.paWinRate::before {
    content: "パーの勝率：";
}

.outer-result {
    display: none;
}

.outer-result::before {
    content: "合計";
}

.outer-result::after {
    content: "点でした。";
}

.repeat {
    display: none;
}


#chart_div {
    width: 700px;
    height: 500px;
}

#pie_chart_div {
    width: 200px;
    height: 200px;
}

/* 3秒じゃんけん */
#btnShowBox {
    cursor: pointer;
}

#btnShowBox:hover {
    color: #17b4f1;
}